---
layout: layout-main
---



<summary class="portfolio _width-content-max _padding-none"  markdown="1" >

<div class="_center-margin _grid-2-3 " markdown="1">

<%= partial 'partials/left'%>

<%= partial 'partials/right'%>

</div>

</summary>
