
<div class="left ">
<div class="intro _size-vheight --live _grid" data-vheight="90" >

<div markdown="1">

# Products of Purpose

__zeee.co__ designs and builds technology to further creative, nonprofit, research, and health tech endeavors.

<!-- Zeee.co designs and builds products and technology to further creativity, research, nonprofits and health technology. -->

</div>

<div class="_align-bottom">
<div>
<div markdown="1">
Get in touch: [eee@zeee.co](mailto:eee@zeee.co).
</div>
<div class="_font-small _padding-top-2"><a href="http://switchyards.com">Made in Atlanta</a> at Switchyards.</div>
</div>
</div>
</div>

<!-- 
<div class="bottom _align-bottom">
<div class="social _font-large _padding-top-2 ">
  <div class=" _margin-right _margin-bottom-half"><i class="far fa-fw fa-lg fa-envelope _color-gray-dark"></i> <a target="_blank" class="_padding-left-half _underline-none" href="mailto: jessica@phage.ca">jessica@phage.ca</a></div>

  <div class=" _margin-right _margin-bottom-half"><i class="fab fa-fw fa-lg fa-twitter _color-twitter"></i> <a target="_blank" class="_padding-left-half _underline-none" href="https://twitter.com/JessicaSacher/">@JessicaSacher</a></div>

  <div class=" _margin-right _margin-bottom-half"><i class="fab fa-fw fa-lg fa-linkedin _color-linkedin"></i> <a target="_blank"  class="_padding-left-half _underline-none" href="https://www.linkedin.com/in/jessica-sacher-6314b179/">Linkedin</a></div>
</div>

<div class="science _font-small _padding-top-2 ">
  <div class=" _margin-right _margin-bottom-half"><a target="_blank" class="_padding-left-half _underline-none" href="https://scholar.google.com/citations?user=r3PIVU8AAAAJ&hl=en">Google Scholar</a></div>

  <div class=" _margin-right _margin-bottom-half"><a target="_blank" class="_padding-left-half _underline-none" href="https://www.researchgate.net/profile/Jessica_Sacher">ResearchGate</a></div>

  <div class=" _margin-right _margin-bottom-half"><a target="_blank"  class="_padding-left-half _underline-none" href="http://orcid.org/0000-0003-0297-9550/">orcid: 0000-0003-0297-9550</a></div>
</div>
</div> -->

</div>