
<div class="segment" markdown="1">
  
## Ventures

<div class="_expander --icon-none --open" markdown="1">
<div markdown="1">
<div class="_expander-title phagedirtitle"> <img class="phdir" width="32px" src="assets/images/phagedir.png"><span>Phage</span> Directory </div>

[Phage Directory](http://phage.directory) aims to provide objective information and resources to better educate researchers, physicians, and the public about advances in bacteriophages.

</div>
</div>


</div>
