
<div class="segment" markdown="1">
  
#### Ventures

<div class="_expander --icon-none --open">
<div markdown="1">
<div class="_expander-title phagedirtitle"> <img class="phdir" width="32px" src="assets/images/phagedir.png"><span>Phage</span> Directory </div>

[Phage Directory](http://phage.directory) aims to provide objective information and resources to better educate researchers, physicians, and the public about advances in bacteriophages.

</div>
</div>

<div class="_expander --icon-none" markdown="1">
<div class="_expander-title buildatltitle"> <img class="buildatl-img _margin-right-half" width="64px" src="assets/images/atl.png"><h3>build Atlanta</h3></div>

[buildatl](http://buildatl.com), is a site for nonprofits and mission-driven projects who need professionals to help with design, code, and other skills. The idea is to match freelancers, students, and those who want to do some good or beef up their portfolio with organizations that need the help.

</div>


</div>
