
<div class="segment" markdown="1">
  
## Projects


<div class="_expander --icon-none" markdown="1">
<div markdown="1">
<div class="_expander-title phagedirtitle"> <img class="phdir" width="32px" src="assets/images/phagedir.png"><span>Phage</span> Directory </div>

[Phage Directory](http://phage.directory) aims to bring together researchers, physicians, and patients suffering from antibiotic-resistant infections by providing objective research-focused information and better phage research and communication tools.

</div>
</div>

<div class="_expander --icon-none" markdown="1">
### dancey.dance
{: ._expander-title}

[dancey.dance](http://dancey.dance) provides guides, checklists, and technical tools such as ticketing and housing systems for lindy hop and blues dance exchanges and workshops. The goal is to make these events easier, faster, cheaper, and most importantly more fun to create. The first project launched was [ATLX 2018](http://atlantalindyexchange.com)

</div>

<div class="_expander --icon-none" markdown="1">
### Novel Monkey
{: ._expander-title}

[Novel Monkey](http://novelmonkey.com) is a highly conceptual, experimental site designed for speed-writing, specifically for [NaNoWriMo](http://nanowrimo.org). It was built in 2014, on top of Meteor. It’s a bit buggy and the age shows, but people still use it. Plans are in the works for a simpler serverless, and perhaps even offline-mode version of this writing tool.

</div>

<div class="_expander --icon-none" markdown="1">
### Freelance for Good
{: ._expander-title}

Freelance for Good, formerly [BuildATL](http://buildatl.org), was an attempt to build a small jobs matching system for nonprofits and public good projects who need design and web projects with freelancers, students, and those who want to do some good or beef up their portfolio. _This project is still in the planning stages, and has received previous support from General Assembly._

</div>

<div class="_expander --icon-none" markdown="1">
### bullWatch
{: ._expander-title}

bullWatch is an investment tracking and diary project that helps retail investors track and focus their investment efforts on long-term investments. It employs tools to help users filter the nonsense of short-term, pump and dump-y media news, and focus on what matters most—long term trends and helping users stick to their strategies. _This project is still in the early planning and prototyping stages_

</div>


</div>
