
<div class="right" markdown="1">


<%= partial 'partials/main_projects' %>


<div class="_grid-2-lg _grid-gap-large">

<div class="_padding-right-3-lg">
<%= partial 'partials/projects' %>
</div>

<%= partial 'partials/tools' %>


</div>
</div>