
<div class="segment" markdown="1">

## Side Projects

<div class="_expander --icon-none" markdown="1">
### coeur
{: ._expander-title}

[coeur](npmjs.com/package/coeur) is a patchwork design system, style guide, prototyping tool, and build system. It’s powerful, and is what this site (and all the other projects) are built on top of. It emphasizes reliably and quickly producing minimally-valuable projects, and is built with Middleman, Github, surge.sh, vue.js, and SCSS.
</div>


<div class="_expander --icon-none --wip" markdown="1">
### drink people
{: ._expander-title}

Drink, people! Drink people. Drink... people? Experimental site to test new web tech and designs. Companion siste to coeur. Coming soon. [Drink > People](http://drinkpeople.com)
</div>



</div>