
<div class="segment" markdown="1">

## Tools

<div class="_expander --icon-none" markdown="1">
### coeur
{: ._expander-title}

[coeur](npmjs.com/package/coeur) is a _thought system_. It’s a patchwork design system, style guide, prototyping tool, and full-site launching system. It’s powerful, very unstable, and it’s what this site (and all the other sites) is built on top of. It emphasizes using cheap, reliable tools, and the preferred tools are Middleman, Github Pages, surge.sh, vue.js, and SCSS.
</div>


<div class="_expander --icon-none" markdown="1">
### drink people
{: ._expander-title}

Drink, people! Drink people. Drink... people? Experimental site to test new web tech and designs. Companion siste to coeur. Coming soon. [Drink > People](http://drinkpeople.com)
</div>


<div class="_expander --icon-none" markdown="1">
### favesaves
{: ._expander-title}

Light-weight research browser-based to bookmark favorite sites and research papers into an easily downloadable form. Will support light annotation tools and page scraping. Created as a better alternative to Mendeley. _Prototype pending_
</div>


</div>