---
title: Basics
type: design
layout: layout-knowbase
name: basic-requirements
section: general
<!-- status: --draft -->
source: ../
---


<main markdown="1">
  
## Basic Requirements

These are the things you absolutely require.

- **HTTPS:** Even though we don’t actually process anything, this goes a far way psychologically
  - Can use CloudFlare’s HTTPS feature

### Browser Policy

- Need to add a Vue browser policy package to all Vue-enabled pages

### Page Title

- Page title is very important. Squeeze in the data. Display name and date:
  - atlx 2018: June 1-4



---

### States

The dance system observes the following states, where different information will be shown:

<div class="_grid-cols-3" markdown="1">

- **Pre-Registration**
  - When does Registration open?

- **Registration**
  - Countdown
  - Buy tickets
  - Get Housing
  - Volunteering
  - Ticket swap
  - Refund policy
  - What to get excited about?
  - Prices
  - When?
{: ._card .--simple}

- **During Dance**
  - What’s currently going on, where, and what?
  - What’s the next thing that's coming up, where, and what?
  - Lost and Found
  - Important Contact info
  - Important Messages
    - Carification
    - Changes
    - Updates
{: ._card .--simple}

- **Post-Dance**
  - Short Message / Thanks
  - Survey / Feedback
  - Lost and Found 
{: ._card .--simple}

</div>



### Examples

Most notably, these will add future ideas for classes, teachers, "talent," and other kinds of things that something as simple as ATLX won’t have.

- [BluesGeek](https://www.bluesgeek.com/)
- [Lindy Focus](https://lindyfocus.com/)
- [DancerFly](https://dancerfly.com/)









</main>
