---
title: User Flows
type: design
layout: layout-knowbase
name: user-flows
section: general
<!-- status: --draft -->
source: ../
---


<main markdown="1">
  
## User Flows

Step by step for how some of the stuff works




### Purchase Flow

User wants to buy tickets and merchandise. 

Works a bit differently from before; each tier ticket is treated as a different item. They all check eligibility separately, and can get sold separately. This makes adding various types of dance and class passes easy without too complex driving logic.

- Get user email so the purchase is associated with the email address
- Users can add as many items to a cart
- When one tier is passed, that tier is essentially considered sold out
- Some tickets (e.g. tier 2 tickets) can potentially only be sold once tier 1 tickets are sold out
- Items
  - maxItems — items can be sold out
  - isActive — items can be deactivated so more can’t be sold
  - Type
    - Pass
      - First Name
      - Last Name
      - Pass Type
      - Tier
      - Cost
    - Merchandise
      - Size

#### Flow

- User browses available products
- User clicks on an item
- User views more information about item
- User enters or selects item options (size, or pass information)
- User adds item to the basket
- Basket updated: pass bought? and merch bought?
  - Unlike baskets, we want this to look like user has gotten both parts of what’s necessary; they both fit in like a yin/yang, feel incomplete if not
- User can either continue buying more stuff or checkout the basket
- User can add more items to the basket
- User can add a code to unlock special sales items
  - e.g. international traveler, etc.
- User can NOT “update quantity” but can remove an item from the basket
- Checkout: User enters email address
- User pays using PayPal (future: Stripe)
- User goes through PayPal, gets back to site
- User gets a Success page with information / receipt
- User gets an email with information / receipt
- Moderators gets an email with information / receipt
- Purchase is added to the Purchases database




</main>
