---
title: Server
type: design
layout: layout-knowbase
name: server
section: general
<!-- status: --draft -->
source: ../
---


<main markdown="1">

### Server

#### Queries
  – `GET_ALL_PASSES` — all available passes for all events
  - `GET_PASSES(eventId)` — all available passes for event (inc sold out and closed)
  - `GET_ALL_DANCES` — all open dance events
  - `GET_DANCE(eventId)` — get specific dance event (eventId from init)
  - `GET_PASS_COUNT(eventId)` — get pass count for specific event (how many have been sold)

#### Mutators


</main>
