---
title: Moderator View
type: design
layout: layout-knowbase
name: moderator
section: general
<!-- status: --draft -->
source: ../
---


<main markdown="1">
  
## Moderator View

From Ticketing to Housing, what do mods see?

### Overview

- All Passes available
  - how many have been sold / how many available for each tier
  - tier range for each pass
- Merchandise available

### Purchases

Things users have purchaed

- Passes view
  - All pass information
  - Can export all passes to CSV
    - copy to clipboard
    - download file
- Merchandise view
  - All merch information
  - Can exprt all merchandise to CSV
    - copy to clipboard
    - download file


### Accounting

- Total $ breakdown from all sales

</main>
