---
title: Housing
type: design
layout: layout-knowbase
name: housing
section: general
<!-- status: --draft -->
source: ../
---


<main markdown="1">
  
## Housing

Housing involves getting people to volunteer (or incentivized) housing, and for travelers to find a free place to crash at.

- Housing is always low and in high demand
- Very few events like to incentivize or subsidize housing (though it should work similarly to volunteering)
- Has to be organized at the last minute, when the event almost closes registration
- Housing should always be assigned an event cost, in case of hotel costs or incentives
- Housing Needs
  - Try to group car pools
  - Paid staff are sometimes housed at "nicer" places or have their own separate hotel assignments
- Always prepare for lot of last minute changes:
  - More people need housing
  - Changes in car pooling, transportation
  - Cancellations and Swaps






</main>
