---
title: ATLX2018 Main
type: design
layout: layout-knowbase
name: atlx2018-main
section: atlx2018
<!-- status: --draft -->
source: ../
---


<main markdown="1">

## ATLX 2018


<div class="_message --hover-none" markdown="1">

#### Todo

- Expanded site layout
- Payment &amp; Ticketing system (due 2/1/2018)
  - Needed:
    - Tiers, # of tickets per tier, costs per tier
    - PayPal account link info
    - Merchandise
- Dance Information / Raw Data Architecture
- Info display interface / linked data getter 
- Info Needed:
  - Venue Info
    - Image
    - Description
    - Location
    - Map URL
  - Music 
    - Band
    - DJ Info
  - Legal
    - Safe Spaces
    - Privacy
    - Terms &amp; Conditions
  - Schedule
  - At the door prices


#### Good to Have

- Who’s Coming (City tally)
- Current Schedule (module that says what’s happening now, where, what time)


</div>


#### Thoughts

- People hate logging in; make everything DEAD SIMPLE for EVERYONE
- Less information = better
- People loved the "character"

#### Requirements

- Purchases
  - One email can purchase many items; each item treated as a different "product"

- **Public**
  - No login system
  - Use **emails** as the main source of tracking
  - Future: Links to information etc. can be accessed through a private email link only
- **Moderator**
  - See list of all purchases (not registrations)
  - Sort tickets by tickets

</main>