---
layout: layout-main
---

<div markdown="0">
<%= partial 'partials/top'%>
</div>

<div class="home _padding-none"  >

<div class="_center-margin _grid-2-3 " markdown="1">

<%= partial 'partials/left'%>

<%= partial 'partials/right'%>

</div>

</div>
