
<div class="right _padding-2" markdown="1">

# CV <span class="_color-ui">Highlights</span>

*Full CV available upon request
{: ._font-italic ._font-serif ._padding-top-half}

### Education

#### PhD in Microbiology and Biotechnology

University of Alberta, Canada
{: ._margin-none}

##### 09/2012 — 06/2018 
{: ._padding-none-i}

__Thesis:__ “Bacteriophage interactions with the _Campylobacter jejuni_ flagellar glycosylation system” <br/> __Advisor:__ Dr. Christine M. Szymanski


#### Bachelor of Science (BSc) Honours in Microbiology

University of Alberta, Canada
{: ._margin-none}

##### 09/2007 – 04/2012



### Publications

1. Simpson, D. J., __Sacher, J. C.__, &amp; Szymanski, C. M. (2016). Development of an Assay for the Identification of Receptor Binding Proteins from Bacteriophages. _Viruses_, 8(1), 17.

2. Javed, M. A., __Sacher, J. C.__, van Alphen, L. B., Patry, R. T., &amp; Szymanski, C. M. (2015). A Flagellar Glycan-Specific Protein Encoded by Campylobacter Phages Inhibits Host Cell Growth. _Viruses_, 7(12), 6661-6674.

3. Simpson, D. J.\*, __Sacher, J. C.__\*, &amp; Szymanski, C. M. (2015). Exploring the interactions between bacteriophage-encoded glycan binding proteins and carbohydrates. _Current Opinion in Structural Biology_, 34, 69-77. __*Authors
contributed equally__

4. Javed, M. A., Alphen, L. B., __Sacher, J.__, Ding, W., Kelly, J., Nargang, C., Smith, D. F., Cummings, R. D., &amp; Szymanski, C. M. (2015). A receptor-binding protein of _Campylobacter jejuni_ bacteriophage NCTC 12673 recognizes flagellin glycosylated with acetamidino-modified pseudaminic acid. _Molecular Microbiology_, 95(1), 101-115.


### Laboratory Techniques

- Bacterial cell culture
- Cloning, mutagenesis
- Bacteriophage propagation and characterization (host range, efficiency of plaquing, adsorption, protein/DNA/RNA analysis)
- Illumina MiSeq cDNA library preparation for RNA-Seq
- Protein expression and purification (column chromatography/FPLC)
- Microscopy (immunogold labelling of bacterial cells, transmission and scanning electron microscopy)

### Awards &amp; Scholarships

1. __Alexander Graham Bell Canada Graduate Scholarship — Doctoral (CGS-D3)__, NSERC 2015, $105,000 CDN over 36 months

2. __President’s Doctoral Prize of Distinction, University of Alberta__, 2015, $10,000 CDN, 2016: $5,700 CDN, 2017: $5,700.

3. __Alberta Innovates Technology Futures Top-Up Award__, NSERC 2013, $13,000 CDN

4. __NSERC Postgraduate Scholarship — Master’s (PGS-M)__, NSERC 2013, $17,500 CDN



### Conferences &amp; Presentations

Invited Oral Presentations (selected from submitted abstracts):

1. __Sacher, J. C.__, Javed, M.A., Butcher, J., Flint, A., Patry, R.T., Stintzi, A. and Szymanski, C.M. (2017) Unexpected interactions between _Campylobacter_ bacteriophages and host protein glycosylation. Bacteriophage Online 2017
Conference, EuroSciCon.com.

2. __Sacher, J. C.__, Javed, M. A., Patry, R., and Szymanski, C. M. (2015) _Campylobacter_ bacteriophages encode a flagellar glycan-binding effector protein that reduces cell motility and growth. _Campylobacter_, _Helicobacter_ and Related
Organisms (CHRO) Conference, Rotorua, New Zealand.

3. __Sacher, J. C.__, Javed, M.A., Arutyunov, D., and Szymanski, C.M. (2014) Bacteriophage protein binding to _Campylobacter jejuni_ flagellar glycans influences bacterial motility and growth. National Carbohydrate Symposium, Canmore, Canada.

4. __Sacher, J. C.__, Simpson, D.J., Javed, M.A., Arutyunov, D., and Szymanski, C.M. (2013) Use of genomic expression libraries to screen the bacteriophage proteome for specific carbohydrate-binding molecules. University of Alberta ‘Omics Conference, Edmonton, Canada.

5. __Sacher, J. C.__, Simpson, D. J., Javed, M. A., Arutyunov, D., and Szymanski, C. M. (2013) Development of a high-throughput assay for the identification of bacteriophage receptor binding proteins. R.E. Peter Biology Conference,
University of Alberta, Edmonton, Canada.

6. __Sacher, J. C.__, Simpson, D.J., Javed, M.A., Arutyunov, D., and Szymanski, C.M. (2012) Identification of _Campylobacter_ bacteriophage receptor binding proteins. Canadian _Campylobacter_ Workshop, Ottawa, Canada.



</div>